html, body {
	height: 100%; /* Задаем высоту 100% для html и body */
	width: 95%;         /* Занимают всю ширину контейнера */
	margin: 0 auto;      /* Центрирование контейнера по горизонтали */
	background-color: #E8FAFF;
}

.container {
	display: flex; /* Используем Flexbox для контейнера */
	flex-direction: column; /* Располагаем элементы вертикально */
	height: 100%; /* Высота контейнера 100% от окна */
	overflow: hidden;
}

.head_place {
	background-color: white; /* Цвет фона */
	padding: 20px; /* Внутренние отступы */
	position: sticky; /* Прикрепляет элемент к верху страницы */
	top: 0; /* Располагает его вверху */
	z-index: 1000; /* Обеспечивает, что шапка будет над другими элементами */
	margin-top: 20px; /* Отступ сверху 20 пикселей */
	border-radius: 15px; /* Сделает элемент круглым */
	height: 100px;
	overflow: hidden; /* родительском блоке не позволяет вложенному блоку выйти за пределы родителя, скрывая любой контент, который вылезает за его границы. */
	display: flex; /* Flexbox для горизонтального размещения */

	align-items: center;
}



.head_logo img {
    max-height: 100%; /* Логотип не превышает высоту родительского контейнера */
    height: auto; /* Поддержка пропорций */
    max-width: 200px; /* Ограничиваем ширину логотипа (можно настроить по необходимости) */
	object-fit: cover; /* Позволяет обрезать верх и низ */
    object-position: center; /* Центрирует обрезку */
}

.head_logo:hover {
	transform: scale(1.2);
	}

.head_links {
	display: flex;
    align-items: center; /* Центрируем ссылки по вертикали */
}
.head_links ul {
	display: block; /* Flex для горизонтального размещения пунктов меню */
	list-style: none; /* Убираем маркеры списка */
}

.head_links a {
	text-decoration: none; /* Убираем подчеркивание ссылок */
  }

.head_links li {
    margin-left: 20px; /* Расстояние между пунктами меню */
	position: relative;
	float: left;
}
.head_links li a {
	padding:15px;
	font-size: 16px;
	display:block;
	text-align: center; /* Центрируем текст внутри ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}
.head_links li a:hover {
	background-color: #E8FAFF;
	color:rgb(46, 139, 200);
}

.login {
	margin-left: auto; /* Автоматический отступ слева, чтобы "login" оказался справа */
}

.login a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white; /* Цвет кнопки или ссылки */
    color: #5a6072;
    border-radius: 5px; /* Закругленные углы */
	font-weight: bold; /* Жирный шрифт */
    font-size: 20px; /* Размер шрифта (можно настроить по необходимости) */
}

.login a:hover {
	background-color: #E8FAFF;
	color:rgb(46, 139, 200);
	border: #5a6072;
}

nav ul li ul {
	position:absolute;
	left: 0;
	width: 180px;
	background:white;
	display:none;
}

nav ul li ul li {
	width: 100%;
	border: 1px solid rgba(0,0,0,.1);
}

nav ul li ul li ul {
	left: 180px;
	top:0;
}

nav ul li:hover > ul {
	display: initial;
}






.body_place {
	display: flex; /* Для расположения левой и правой сторон горизонтально */
	flex: 1; /* Занимает оставшееся пространство */
	margin: 20px 0; /* Отступы сверху и снизу */
	border-radius: 15px; /* Сделает элемент круглым */
	text-decoration: none; /* Убираем подчеркивание ссылок */
	background-color: #E8FAFF;
}

.body_slide {
	width: 100%; /* Ширина правой стороны */
	border-radius: 15px; /* Сделает элемент круглым */
	background-color: #E8FAFF; /* Цвет фона */
}

.footer_place {
	background-color: white; /* Цвет фона */
	padding: 20px; /* Внутренние отступы */
	color: white; /* Цвет текста */
	margin-top: auto; /* Позволяет помещать подвал внизу страницы */
	border-radius: 15px; /* Сделает элемент круглым */
	margin-bottom:15px;
	height: 5%;
}

